@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: helvetica-1;
  src: url(./fonts/Helvetica.ttf);
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url(./image/wallpaper-1.jpg);
  background-position: center;
  background-size: cover;
}

.container {
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  filter: blur();

  font-family: 'helvetica-1';
}

.interection-area {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  filter: blur();
  font-family: 'helvetica-1';
}

.current-score {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  filter: blur();
  font-family: 'helvetica-1';
}

.high-score {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  filter: blur();
  font-family: 'helvetica-1';
}

.restart-btn {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 229, 168, 1) 0%,
    rgba(251, 174, 222, 1) 100.7%
  );
}
